[Unit]
Description=Data volume

[Mount]
What=/dev/disk/by-uuid/2b641f3f-d0a5-4eca-ba2a-ea36f7e75286
Where=/var/data/external
Type=auto
Options=defaults,nofail,errors=remount-ro

[Install]
WantedBy=local-fs.target
